<div class="row chart">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Chart
        </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <h4>Capacity: <span ng-bind="capacity"></span></h4>
          </div>
          <div class="col-md-4">
            <h4>Voltage: <span ng-bind="voltage"></span></h4>
          </div>
          <div class="col-md-4">
            <h4>Resistance: <span ng-bind="resistance"></span></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <nvd3 options="options" data="data"></nvd3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Parameters Input
        </h3>
      </div>
      <div class="panel-body">
        <form role="form">
          <div class="form-group">
            <label for="capacity">Capacity</label>
            <input id="capacity" type="range" min="0" max="100" value="1" step="1" ng-model="capacity" ng-change="changed()" />
          </div>
          <div class="form-group">
            <label for="voltage">Voltage</label>
            <input id="voltage" type="range" min="0" max="100" value="1" step="1" ng-model="voltage" ng-change="changed()" />
          </div>
          <div class="form-group">
            <label for="resistance">Resistance</label>
            <input id="resistance" type="range" min="0" max="100" value="1" step="1" ng-model="resistance" ng-change="changed()" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>